/* main text color #212121 */
/* secondary text color #757575 */
/* logo color #2196F3  #FFFFFF */
/* bacground color #2F303A */
/* wite color #F5F5F5 */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-btn-color: #ffffff;
  --most-background-color: #f5f5f5;
  --dark-background-color: #f5f4fa;
  --black-color: #000;
  --border-pf: #eeeeee;
  --footer-bg-color: #2f303a;
  --hero-btn: #188ce8;
  --border-client: #afb1b8;
  --transition-timing:250ms cubic-bezier(0.4, 0, 0.2, 1);
  --links-hover-color:#2196F3;
}

ul,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* * {
  outline: 1px solid green;
} */

body {
  background-color: #ffffff;
  /* var(--most-background-color); */
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}





/* верхня лінія */
.header {
  background: var(--white-btn-color);
  border-bottom: 1px solid var(--border-pf);
}
.head-logo {
  /* margin: 0; */
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;

  color: var(--black-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  /* padding-top: 24px;
  padding-bottom: 25px; */
}










/* navigation */

.main-nav {
  display: flex;
  align-items: center;
  /* padding: 0; */
}
.site-nav {
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  /* margin: 0; */
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current,
.nav-contact:hover,
.nav-contact:focus,
.map:focus,
.map:hover,
.foot-nav-contact:hover,
.foot-nav-contact:focus {
  color: var(--accent-color);
}

.site-nav .current{
  position: relative;
  display: block;
  color: var(--accent-color);
}

.item .current::after{
  position: absolute;
  bottom: -1px;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.nav-contact {
  display: block;
  /* display: flex;
  margin: 0;
  padding: 0; */
  padding-top: 32px;
  padding-bottom: 32px;
  /* min-width: 122px; */

  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.adress-header {
  display: flex;
  margin-left: auto;
}

.adress-header .item + .item {
  margin-left: 50px;
  /* padding-right: 15px; */
}

.button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
}

.mail-icon,
.mobile-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.fill-mail,
.fill-mobile {
  fill: var(--secondary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contact:focus .fill-mail,
.nav-contact:hover .fill-mail,
.nav-contact:hover .fill-mobile,
.nav-contact:focus .fill-mobile {
  fill: var(--accent-color);
}










/* hero */
.hero {
  padding: 200px 0;
  background-color: var(--footer-bg-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/fon.jpg);
  text-align: center;
  width: 1600px;
  margin: auto;
}

.hero-description {
  max-width: 696px;
  margin: 0 auto 30px;

  color: var(--white-btn-color);
  /* background: var(--footer-bg-color); */
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}

.hero-button {
  display: inline-block;
  padding: 10px 32px;
  border: none;
  color: var(--white-btn-color);
  background: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
 
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  width: 216px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background: var(--hero-btn);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}




/* modal fild */

.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: visibility 500ms var(--transition-timing),
    opacity 1000ms var(--transition-timing);
}

.modal {
  position: absolute;
  min-width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 500ms var(--transition-timing);
}

/* .backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1) rotate(180deg);
  transition: transform 500ms var(--transition-timing);
} */

.modal-btn {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: inherit;
}

.modal-close {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.modal-close:hover {
  fill: var(--links-hover-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.modal-form-label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  text-align: left;
}

.modal-form-label-message {
  margin-bottom: 20px;
}

.form-input-wrap {
  display: block;
  position: relative;
  margin-top: 4px;
}

.form-input-wrap:hover .modal-form-input-icon {
  fill: var(--links-hover-color);
}

.form-input-wrap:hover .modal-form-input {
  border-color: var(--links-hover-color);
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  caret-color: var(--links-hover-color);
  transition: border-color var(--transition-duration) var(--transition-timing);
}

.modal-form-message:hover,
.modal-form-input:focus,
.modal-form-message:focus {
  outline: none;
  border-color: var(--links-hover-color);
}

.modal-form-input:focus+.modal-form-input-icon {
  fill: var(--links-hover-color);
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  fill: var(--primary-text-color);
  transition: fill var(--transition-duration) var(--transition-timing);
}

.modal-form-message {
  display: block;
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  caret-color: var(--links-hover-color);
  transition: border-color var(--transition-duration) var(--transition-timing);
}

.modal-form-message::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-button {
  align-self: center;
  min-width: 200px;
  min-height: 50px;
  border: 0;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: var(--links-hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition-duration) var(--transition-timing);
}

.modal-form-checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  cursor: pointer;
}

.modal-check-box:checked+.modal-form-checkbox-label::before {
  border: none;
  background-image: url(../images/check.jpg);
}

.modal-form-checkbox-label:hover::before,
.modal-check-box:focus+.modal-form-checkbox-label::before {
  border-color: var(--links-hover-color);
}

.modal-form-checkbox-label::before {
  display: block;
  content: '';
  width: 16px;
  height: 15px;
  margin-right: 7px;
  cursor: pointer;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  transition: border-color var(--transition-duration) var(--transition-timing);
}

.modal-form-link {
  margin-left: 5px;
  text-decoration-line: underline;
  color: var(--links-hover-color);
}

.modal-form-checkbox .modal-form-button:hover,
.modal-form-button:focus {
  background: var(--button-hover-color);
}







/* section */
.section,
.name,
.spesiality-title {
  color: var(--primary-text-color);
  margin: 0;
  padding: 0;
}

.section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  /* background-color: var(--most-background-color); */
}

.name-descript,
.spesiality-detail {
  color: var(--secondary-text-color);
}













/* особливості */
.spesiality {
  padding: 94px 0;
}

.spesiality-ul {
  /* display: inline-block; */
  display: flex;
  flex-wrap: wrap;
  /* margin-right: -30px; */
}

.spesiality-li {
  flex-basis: calc((100% - 3 * 30px) / 4);
  text-align: left;
}
.spesiality-li:not(:last-child) {
  margin-right: 30px;
}

/* .spesiality-li::before{
  display: block;
  content: "";
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;

} */
.icon-spesiality {
  flex-basis: calc((100% - 3 * 30px) / 4);
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
  margin-bottom: 30px;
  /* width: 100%;
          height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .spesiality-ul .icon-antena::before{
  background-image: url("../svg/antenna\ 1.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.spesiality-ul .icon-clock::before {
  background-image: url("../svg/clock\ 1.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.spesiality-ul .icon-diagram::before {
  background-image: url("../svg/diagram\ 1.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.spesiality-ul .icon-austronaut::before {
  background-image: url("../svg/astronaut\ 1.svg");
  background-repeat: no-repeat;
  background-position: center;
} */

.spesiality-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.spesiality-detail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}














/* чим ми займаємось*/
.block-to-do {
  display: flex;
  flex-wrap: wrap;
}
.to-do-section {
  padding-bottom: 94px;
}
.to-do {
  /* padding-bottom: 50px; */
  margin-bottom: 50px;
}

.to-do-img:not(:last-child) {
  margin-right: 30px;
}

.to-do-img{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.to-do-img .link-p{
  margin-bottom: 0;

}
.to-do-fon{
  width: 370px;
  height: 70px;
  position: absolute;
    /* left: 50%;
  top: 50%;
  transform: translate(-20%, -20%); */
  background-color: #2F303A;
  opacity: 0.8;
}

.text-todo{
  display: flex;
  align-items: center;
  justify-content: center;
}












/* наша команда */
.block-team {
  display: flex;
  flex-wrap: wrap;
}
.team {
  margin-bottom: 50px;
  /* padding-top: 94px; */
}
.team-bacg-color {
  background-color: var(--dark-background-color);
  padding: 94px 0;
}
.fon-team {
  background-color: var(--white-btn-color);
}

.team-root {
  flex-basis: calc((100% - 3 * 30px) / 4);
  /* padding-bottom: 94px; */
}

.fon-team:not(:last-child) {
  margin-right: 30px;
}
.name {
  /* padding-top: 30px; */
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}

.name-descript {
  /* padding-bottom: 30px; */
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.div-team {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.div-team .text {
  color: #afb1b8;
}


.icon-team {
  fill: #afb1b8;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.s-link {
  display: inline-block;
  /* margin-top: 16px; */
  height: 44px;
  width: 44px;
  border-radius: 50px;
}

.icon-team:focus,
.icon-team:hover{
  background-color: var(--accent-color);
}


.icon-team:hover .linkedin-team,
.icon-team:focus .linkedin-team,
.icon-team:hover .twitter-team,
.icon-team:focus .twitter-team,
.icon-team:hover .instagram-team,
.icon-team:focus .instagram-team,
.icon-team:hover .facebook-team,
.icon-team:focus .facebook-team {
  fill: #ffffff;
  
}

.linkedin-team,
.linkedin-team,
.twitter-team,
.twitter-team,
.instagram-team,
.instagram-team,
.facebook-team,
.facebook-team
{
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .s-link:hover,
.s-link:focus'{
  background-color: var(--accent-color);
} */


















/* client */

.client-bacg-color {
  /* background-color: var(--most-background-color); */
  background-color: white;
  padding: 94px 0;
}

.block-client {
  display: flex;
  flex-wrap: wrap;
}
.client {
  margin-bottom: 50px;
}

.icon-client {
  fill: #afb1b8;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
   border: 1px solid var(--border-client);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-root {
  flex-basis: calc((100% - 5 * 30px) / 6);
  width: 170px;
  height: 92px;
  
  /* align-items: center;
  display: flex;
  justify-content: center; */
}

.fon-client:not(:last-child) {
  margin-right: 30px;
}



.icon-client:hover,
.icon-client:focus{
    border: 1px solid var(--accent-color);
  border-radius: 4px;
}


.icon-client:hover .group,
.icon-client:focus .group {

  fill: var(--accent-color);
}

.s-link:not(:last-child) {
  margin-right: 10px;
}

.group{
  transition: border 2250ms cubic-bezier(0.4, 0, 0.2, 1), fill 2250ms cubic-bezier(0.4, 0, 0.2, 1);
}









/* підвал */
.footer {
  padding: 60px 0;
  background-color: var(--footer-bg-color);
  font-style: normal;
}

.adress-footer {
  background-color: var(--footer-bg-color);
  font-style: normal;
}
.foot-container {
  margin-right: 70px;
}
.foot-logo {
  /* padding-top: 60px; */
  display: inline-block;
  margin-bottom: 20px;
  color: var(--white-btn-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo2 {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
}

.map {
  color: var(--white-btn-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foot-nav-contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts:not(:last-child) {
  margin-bottom: 9px;
}






/* приєднуйтесь */

.sosial-link-foot {
  /* display: flex; */
  flex-wrap: wrap;
}

.link-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--white-btn-color);
}
.all-foot-container {
  display: flex;
  align-items: baseline;
}


.icon-foot {
  fill: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.s-link-foot {
  display: inline-block;
  height: 44px;
  width: 44px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.1);
}

/* .instagram-foot{
  background: rgba(255, 255, 255, 0.1);
  background-image: url(../svg/instagram\ 2.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.twitter{
    background: var(--accent-color);
      background-image: url(../svg/twitter\ 1.svg);
      background-size: 20px;
      background-repeat: no-repeat;
      background-position: center;
}

.facebook{
    background: rgba(255, 255, 255, 0.1);
    background-image: url(../svg/facebook\ 1.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .linkedin{
    fill: rgba(255, 255, 255, 0.1);
    /* background: rgba(255, 255, 255, 0.1);
    background-image: url(../svg/linkedin\ 1.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center; */

.s-link-foot:not(:last-child) {
  margin-right: 10px;
}

.icon-foot:hover,
.icon-foot:focus {
  background: var(--accent-color);

}

.icon-foot:hover .linkedin-team,
.icon-foot:focus .linkedin-team,
.icon-foot:hover .twitter-team,
.icon-foot:focus .twitter-team,
.icon-foot:hover .instagram-team,
.icon-foot:focus .instagram-team,
.icon-foot:hover .facebook-team,
.icon-foot:focus .facebook-team {
  background-color: var(--accent-color);
}



.add-container{
  margin-right: 93px;
}



/* підпишись */

/* .distribution-foot{
  display: flex;
  flex-wrap: wrap;
}

.distribution-li{
  display: flex;
  flex-wrap: wrap;
} */

.E-mail{
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--footer-bg-color) ;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.sign{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 10px;
  
  color: #FFFFFF;
  width: 200px;
  height: 50px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
    background: #2196F3;
    border: 1px solid #2196F3;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      cursor: pointer;
}

.distribution-li:not(:last-child) {
  margin-right: 10px;
}

.sign:focus,
.sign:hover,
.text-sign{
  fill: #188CE8;
}

.wrap{
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.sign:hover,
.sing:focus {
  background: var(--hero-btn);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




































/* portfolio */

.section-pf-nav {
  padding: 94px 0;
}

.block-pf-nav {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.block-job {
  /* display: block; */
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  /* margin-right: -30px;
  margin-bottom: -30px; */
}
.btn {
  margin-bottom: 50px;
  gap: 8px;
}

.portfolio-button {
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  /* margin-top: 126px; */
  /* margin-right: 8px;
  margin-bottom: 50px; */

  color: var(--primary-text-color);
  background: var(--dark-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.portfolio-button:last-child {
  margin-right: 0;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--white-btn-color);
  background-color: var(--accent-color);
}






/* Block job */

.pf-flex:nth-of-type(3n) {
  margin-right: 0px;
}

.pf-a{
  /* transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.pf-a:hover,
.pf-a:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




.img-pf {
  display: block;
  width: 100%;
  height: auto;
}

.job {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.type {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 188% */
  letter-spacing: 0.03em;
}

.job-type {
  padding: 20px 24px;
  border-right: 1px solid var(--border-pf);
  border-left: 1px solid var(--border-pf);
  border-bottom: 1px solid var(--border-pf);
}
.bacg-job {
  background: var(--white-btn-color);

}







/* animation */

.product-thumb{
  position: relative;
  overflow: hidden;
  /* content: "";
  top: 0;
  left: 0;
   display: inline-block; */

}



.product-overlay{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(32, 148, 243, 0.9);
transform: translateY(100%);
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
opacity: 0;
}


.pf-a:hover .product-overlay{
  transform: translateY(0);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.content{
  font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: white;  
   position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 322px;

  /* min-height: 168px;

  background-color: rgba(32, 148, 243, 0.9);
  padding: 24px, 63px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      display:flex;
  align-items: center;
  justify-content: center;
   visibility: visible;
   opacity: 0;  */
}

.product-overlay:hover .content,
.img-pf:hover {
  opacity: 1;
  /* background-color: rgba(32, 148, 243, 0.9); */
  /* transition: opacity 2250ms cubic-bezier(0.4, 0, 0.2, 1); */

}


