
.spesiality {
    padding: 94px 0;
}

.spesiality-ul {
    /* display: inline-block; */
    display: flex;
    flex-wrap: wrap;
    /* margin-right: -30px; */
}

.spesiality-li {
    flex-basis: calc((100% - 3 * 30px) / 4);
    text-align: left;
}

.spesiality-li:not(:last-child) {
    margin-right: 30px;
}


.icon-spesiality {
    flex-basis: calc((100% - 3 * 30px) / 4);
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background: #f5f4fa;
    margin-bottom: 30px;
   
    display: flex;
    justify-content: center;
    align-items: center;
}

.spesiality-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.spesiality-detail {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}