/* особливості */
.spesiality {
    padding: 94px 0;
}

.spesiality-ul {
    /* display: inline-block; */
    display: flex;
    flex-wrap: wrap;
    /* margin-right: -30px; */
}

.spesiality-li {
    flex-basis: calc((100% - 3 * 30px) / 4);
    text-align: left;
}

.spesiality-li:not(:last-child) {
    margin-right: 30px;
}

/* .spesiality-li::before{
  display: block;
  content: "";
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;

} */
.icon-spesiality {
    flex-basis: calc((100% - 3 * 30px) / 4);
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background: #f5f4fa;
    margin-bottom: 30px;
    /* width: 100%;
          height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .spesiality-ul .icon-antena::before{
  background-image: url("../svg/antenna\ 1.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.spesiality-ul .icon-clock::before {
  background-image: url("../svg/clock\ 1.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.spesiality-ul .icon-diagram::before {
  background-image: url("../svg/diagram\ 1.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.spesiality-ul .icon-austronaut::before {
  background-image: url("../svg/astronaut\ 1.svg");
  background-repeat: no-repeat;
  background-position: center;
} */

.spesiality-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.spesiality-detail {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}